streamlit>=1.5.0
Pillow>=7.2.0
numpy>=1.19.5
matplotlib>=3.4.3
scipy>=1.7.3
plotly>=5.24.1
geopandas>=1.0.1
osmapping>=0.1.5
shapely>=2.0.6
seaborn>=0.13.2
networkx>=3.4.2
scikit-learn>=1.5.2
torch>=2.5.1
torchdata>=0.9.0
dgl>=2.0.0
pyOpenSSL>=24.2.1
pandas>=2.2.3
